* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
nav {
  width: 100%;
  height: 60px;
  background-color: antiquewhite;
}
nav .nav_logo {
  display: inline-block;
  margin: 15px;
}
nav .nav_logo p{
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    /* margin: 10px; */
    color: rgb(38, 175, 175);
}
nav .nav_logo p span{
    color: orange;
    font-size: 1.7rem;
}
nav .nav_links {
  float: right;
  margin: 0px 10px 0px 0px ;
}
nav .nav_links ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav_links ul li {
  list-style-type: none;
  margin: 19px 5px;
  cursor: pointer;
}
nav .nav_links ul li a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 0.9rem;
  color: rgb(73, 73, 73);
  font-weight: 600;
  padding: 7px 10px;
}
nav .nav_links ul li a:hover{
    background-color: rgb(250, 221, 182);
    border-radius: 17px;
    transition-duration: .3s;
    color: black;
}
